Dear {{ user.name }},
<br>

<br>

You are assigned this <b>{{ task.title|raw }}</b>.

<br>

<p>
    {{ task.task|raw }}
</p>

<center>
    <a href="{{ generate_url('projects.tasks.detail', {'id':item.id},0) }}"> View Task Detail</a>
</center>

<br>
If you need any help, please let us know so that we can assist you.
<br>

<br>
Thank You