{# empty Twig template #}

{% set percent = (item.total_completed/item.total_tasks * 100)|round(2) %}

{% if not percent %}
    {% set percent = 1 %}
{% endif %}

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}"
         aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">
        <span class="sr-only">{{ percent }}% Complete</span>
    </div>
</div>
