/*
This file is part of Kazist Framework.
(c) Dedan Irungu <irungudedan@gmail.com>
 For the full copyright and license information, please view the LICENSE file that was distributed with this source code.
 
*/
/* 
    Created on : Jun 25, 2016, 12:39:36 AM
    Author     : sbc
*/

.projects-list .project-single h3{
    margin-bottom: 5px;
}

.projects-list .project-single{
    padding:5px;
}

.project-task-search .col-md-2{
    padding:5px;
}

.tasks-list .tasks-item h3{
    margin-bottom: 5px;
}

.tasks-list .task-item{
    padding:5px;
    margin:10px;
}

.task-setting{
    padding:5px;
}

.all-fields{
    display: none;
}