/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2015, 4:22:26 PM
    Author     : sbc
*/

.fc-event-time{display:none;}
.fc-event-title{display:none;}
.fc-event{margin-top:1px;height: 5px;}